<!DOCTYPE html>
<html>
   <head>
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/authenticate.js"></script>
      <script src="/javascripts/jquery/jquery-ui.js"></script>
      <script src="/javascripts/musicmetadata.js"></script>
      <script src="/javascripts/jquery.webui-popover.min.js"></script>
      <script src="/javascripts/admin.js"></script>
   </head>
   <body>
      <a href='/lanify/admin/upload'>UPLOAD_SINGLE(Working)</a><br>
      <a href='/lanify/admin/upload_folder'>UPLOAD_MULTIPLE_FILES(Working :))</a><br>
      <a href='/lanify/admin/request'>REQUEST(Not Working)</a><br>
      <a href='/lanify/admin/analytics'>Analytics(Partially Working)</a><br>
      <!--<a href='/lanify/admin/rename'>EDIT_DETAILS</a><br>-->
      <!--<a href='/lanify/admin/delete'>DELETE</a><br>-->
   </body>
</html>
