<!DOCTYPE html>
<html>
   <head>
      <script src="/javascripts/admin.js"></script>
      <script src="/javascripts/musicmetadata.js"></script>
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/jquery/jquery-ui.js"></script>
   </head>
   <body>
      <a href='/lanify/admin/upload'>UPLOAD_SINGLE</a><br>
      <a href='/lanify/admin/upload_folder'>UPLOAD_FOLDER</a><br>
      <a href='/lanify/admin/rename'>EDIT_DETAILS</a><br>
      <a href='/lanify/admin/delete'>DELETE</a><br>
   </body>
</html>
