<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <audio controls>
      <source src="jane nahi.mp3" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
