
.album_description{

}

.image_size{
   height:120px;
   width:120px;
}
.album_image{
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-right: 1%;
    margin-top: 1%;

}

.album_name{
    display: inline-block;
    height: auto;
    margin-right: 1%;
    font-size: 24pt;
    font-family: "Lato";
}

#album_songs{
    margin-top: 2%;
}

.album_options{
    font-size: 16pt;
}

.albums_all{
  height:80%;
  float:left;
}

.album_name_list{
  height:2px;
  text-overflow: ellipsis;
}

.album{
  margin-top:1%;
  margin-bottom:5%;
}
