body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.heading {
    font-size: 24pt;
    font-family: "Lato";
}

a {
    color: #00B7FF;
}

.well{
    background-color: #0193b7;
    color:  #f6f6f6;
    font-weight: bold;
    margin-left: 0%;
    margin-top: 0%;
}

#search_bar{
    border: solid;
    width: 100%;
    height: 100%;
    border-radius: 1%;
}

.content{
    border: solid;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    margin-top: 2%;
}

.top_songs{
    border: solid;
    border-radius: 2%;
}

.main_content{
    border: solid;
    border-radius: 2%;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.album_description{

}

td{
    font-size: 14pt;
    font-family: "Lato";
}

.album_image{
    display: inline-block;
    height: auto;
    border: solid;
    border-radius: 2%;
    margin-right: 1%;

}

.album_name{
    display: inline-block;
    height: auto;
    border: solid;
    border-radius: 2%;
    margin-right: 1%;
    font-size: 24pt;
    font-family: "Lato";
}

.song{
    display: inline-block;
    height: auto;
    border: solid;
    border-radius: 2%;
    margin-right: 1%;
}

#player{
    width:100%;
}
.player_container{
    background-color: #bbbbbb;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-self: center;
}

#audio_player{
    margin-top: 1%;
    margin-bottom: 1%;
}
