#chatroom{
   height: 450px;
}


#chatbox {
   text-align:left;
   margin:0 auto;
   margin-top:1%;
   margin-bottom:1%;
   padding:1%;
   background:#fff;
   height:80%;
   width:95%;
   border:1px solid #ACD8F0;
overflow-y:auto;
word-wrap:break-word;}

#usermsg {
   width:80%;
border:1px solid #ACD8F0; }

#submitmsg { width: 10%; }


.welcome { float:left; }

.msgln { margin:0 0 2px 0; }
