.jp-audio{
   width:100%; /*WIdth of audio player bar*/
}

/*Time Holder Start*/
.jp-current-time{
   margin-left:15%;
   top: 92.5%;
   position: fixed;
}

.jp-duration{
   right:25%;
   top: 92.5%;
   position: fixed;
}
/*Time Holder End*/

/*Progress Bar Start*/
.jp-audio .jp-type-single .jp-progress {
   left: 18%;
   width: 54%;
}
.jp-progress {
   top: 45%;
   height: 16px;
}
/*Progress Bar End*/

#jp-song-name{
   width: 13%;
   margin-left: 1%;
   padding-top: 1%;
   font-weight:bold;
   word-wrap: break-word;
}

#jp-album-name{
   width: 13%;
   margin-left: 1%;
   padding-bottom: 1%;
   font-size: 10pt;
   word-wrap: break-word;
}

.jp-audio .jp-controls {
   position: absolute;
   margin-left: 75%;
   top:5%;
}

.jp-play, .jp-previous, .jp-next {
   margin-right: 1%;
}

.jp-volume-controls {
   left: 90%;
}

.jp-playlist{
   display:none;
   visibility: hidden;
}

.audio_player_container{
   height: 10%;
}

.audio_player{
   position: fixed;
   bottom: 0;
}
.jp-volume-bar {
   position:relative;
}
.jp-volume-bar-value {
   position:absolute;
   bottom: 0;
}

.jp-repeat {
   width: 28px;
   height: 28px;
   margin-top: 6px;
   margin-left:3%;
}

